openapi: 3.0.0
info:
  title: ASilva Innovations Blog API
  version: 1.0.0
  description: Backend API for the resilience blog platform

servers:
  - url: https://api.asilvainnovations.com/v1

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key

paths:
  # Authentication
  /auth/register:
    post:
      summary: Register new user
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string }
                password: { type: string }
                full_name: { type: string }
      responses:
        201: { description: User created }

  /auth/login:
    post:
      summary: Login user
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string }
                password: { type: string }
      responses:
        200: 
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
                  user: { $ref: '#/components/schemas/User' }

  # Posts
  /posts:
    get:
      summary: List posts
      parameters:
        - name: status
          in: query
          schema: { type: string, enum: [draft, published] }
        - name: category
          in: query
          schema: { type: string }
        - name: tag
          in: query
          schema: { type: string }
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 9 }
        - name: search
          in: query
          schema: { type: string }
      responses:
        200:
          description: Paginated list of posts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Post' } }
                  pagination: { $ref: '#/components/schemas/Pagination' }

    post:
      security: [ { bearerAuth: [] } ]
      summary: Create new post
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PostInput' }
      responses:
        201: { description: Post created }

  /posts/{slug}:
    get:
      summary: Get single post
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        200:
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PostDetail' }

    put:
      security: [ { bearerAuth: [] } ]
      summary: Update post
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PostInput' }
      responses:
        200: { description: Post updated }

    delete:
      security: [ { bearerAuth: [] } ]
      summary: Delete post (soft delete)
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        204: { description: Post deleted }

  # Categories
  /categories:
    get:
      summary: List all categories
      responses:
        200:
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Category' }

  /categories/{slug}/posts:
    get:
      summary: Get posts by category
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
        - name: page
          in: query
          schema: { type: integer, default: 1 }
      responses:
        200:
          content:
            application/json:
              schema:
                type: object
                properties:
                  category: { $ref: '#/components/schemas/Category' }
                  posts: { type: array, items: { $ref: '#/components/schemas/Post' } }
                  pagination: { $ref: '#/components/schemas/Pagination' }

  # Tags
  /tags:
    get:
      summary: List all tags
      responses:
        200:
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Tag' }

  /tags/{slug}/posts:
    get:
      summary: Get posts by tag
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        200:
          content:
            application/json:
              schema:
                type: object
                properties:
                  tag: { $ref: '#/components/schemas/Tag' }
                  posts: { type: array, items: { $ref: '#/components/schemas/Post' } }

  # Comments
  /posts/{postId}/comments:
    get:
      summary: Get comments for post
      parameters:
        - name: postId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        200:
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Comment' }

    post:
      summary: Add comment to post
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                content: { type: string }
                parent_id: { type: string, format: uuid }
                guest_name: { type: string }
                guest_email: { type: string }
      responses:
        201: { description: Comment created }

  # Media
  /media:
    post:
      security: [ { bearerAuth: [] } ]
      summary: Upload media file
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file: { type: string, format: binary }
                alt_text: { type: string }
      responses:
        201:
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MediaAsset' }

  /media/{id}:
    delete:
      security: [ { bearerAuth: [] } ]
      summary: Delete media
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        204: { description: Media deleted }

  # Email
  /email/send:
    post:
      security: [ { bearerAuth: [], apiKey: [] } ]
      summary: Send email
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                template: { type: string }
                to: { type: string }
                variables: { type: object }
      responses:
        202: { description: Email queued }

  # Dashboard/Analytics
  /dashboard/stats:
    get:
      security: [ { bearerAuth: [] } ]
      summary: Get dashboard statistics
      responses:
        200:
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_posts: { type: integer }
                  total_views: { type: integer }
                  total_comments: { type: integer }
                  recent_posts: { type: array, items: { $ref: '#/components/schemas/Post' } }

  /dashboard/posts:
    get:
      security: [ { bearerAuth: [] } ]
      summary: Get user's posts for dashboard
      parameters:
        - name: status
          in: query
          schema: { type: string }
      responses:
        200:
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Post' }

components:
  schemas:
    User:
      type: object
      properties:
        id: { type: string, format: uuid }
        email: { type: string }
        username: { type: string }
        full_name: { type: string }
        avatar_url: { type: string }
        role: { type: string, enum: [admin, editor, reader] }
        created_at: { type: string, format: date-time }

    Post:
      type: object
      properties:
        id: { type: string, format: uuid }
        title: { type: string }
        slug: { type: string }
        excerpt: { type: string }
        featured_image_url: { type: string }
        category: { $ref: '#/components/schemas/Category' }
        author: { $ref: '#/components/schemas/User' }
        status: { type: string }
        published_at: { type: string, format: date-time }
        views: { type: integer }
        tags: { type: array, items: { $ref: '#/components/schemas/Tag' } }

    PostDetail:
      allOf:
        - $ref: '#/components/schemas/Post'
        - type: object
          properties:
            content: { type: string }
            meta_title: { type: string }
            meta_description: { type: string }

    PostInput:
      type: object
      properties:
        title: { type: string }
        excerpt: { type: string }
        content: { type: string }
        category_id: { type: string, format: uuid }
        tags: { type: array, items: { type: string } }
        featured_image_url: { type: string }
        status: { type: string, enum: [draft, published] }

    Category:
      type: object
      properties:
        id: { type: string, format: uuid }
        slug: { type: string }
        name: { type: string }
        short_name: { type: string }
        description: { type: string }
        color_class: { type: string }
        icon_class: { type: string }
        external_url: { type: string }

    Tag:
      type: object
      properties:
        id: { type: string, format: uuid }
        slug: { type: string }
        name: { type: string }
        usage_count: { type: integer }

    Comment:
      type: object
      properties:
        id: { type: string, format: uuid }
        content: { type: string }
        author: { $ref: '#/components/schemas/User' }
        guest_name: { type: string }
        created_at: { type: string, format: date-time }
        replies: { type: array, items: { $ref: '#/components/schemas/Comment' } }

    MediaAsset:
      type: object
      properties:
        id: { type: string, format: uuid }
        original_filename: { type: string }
        public_url: { type: string }
        file_type: { type: string }
        file_size_bytes: { type: integer }
        dimensions: { type: object }

    Pagination:
      type: object
      properties:
        current_page: { type: integer }
        total_pages: { type: integer }
        total_items: { type: integer }
        items_per_page: { type: integer }
